<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
<meta charset="utf-8">

<!-- Viewport Metatag -->
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<!-- Plugin Stylesheets first to ease overrides -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/colorpicker/colorpicker.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/custom-plugins/wizard/wizard.css" media="screen">

<!-- Required Stylesheets -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/fonts/ptsans/stylesheet.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/fonts/icomoon/style.css" media="screen">

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/mws-style.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/icons/icol16.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/icons/icol32.css" media="screen">

<!-- Demo Stylesheet -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/demo.css" media="screen">

<!-- jQuery-UI Stylesheet -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/jui/css/jquery.ui.all.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/jui/jquery-ui.custom.css" media="screen">

<!-- Theme Stylesheet -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/mws-theme.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/themer.css" media="screen">

<title>物流管理</title>
<style type="text/css">
    #mws-wrapper{
        margin-left:-150px;
    }
    .dataTables_wrapper{
        background: none repeat scroll 0 0 #444444;
    }
    #DataTables_Table_1_paginate a,#DataTables_Table_1_paginate span{width:20px;height:20px;margin-right:10px;display:block;float:left;}
    
</style>
</head>

<body>
    <!-- Start Main Wrapper -->
    <div id="mws-wrapper">
        
        
        <!-- Main Container Start -->
        <div id="mws-container" class="clearfix">
            
             <div class="mws-panel grid_8 mws-collapsible">
             
                    
                    <div class="mws-panel-header">
                        <span><i class="icon-table"></i>物流管理</span>
                    </div>
                    <div class="mws-panel-body no-padding dataTables_wrapper" style="background: none repeat scroll 0 0 #444444;">
                        <table class="mws-table mws-datatable">
                            <thead>
                                <tr>
                                    <th>物流ID</th>
                                    <th>订单号</th>
                                    <th>运单号</th>
                                    <th>物流公司名字</th>
                                   	<th>发货时间</th>
                                    
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody> 
                            <foreach name="users" item="vo">
                                <tr>
                                    <td>{$vo.id}</td>
                                    <td>{$vo.orderid}</td>
                                    <td>{$vo.logid}</td>
                                    <td>{$vo.logisticsname}</td>
                                    <td>{$vo.logisticstime|date="Y-m-d H:i:s",###}</td>
                                                   
                                    <td>
                                        <span class="btn-group" style="font-size:14px;">
                                       
                                       
                                               
                                                <a title="点击删除" href="{:U('Logistics/delete',array('id'=>$vo['id']))}" class="btn btn-small delete" ><i class="icon-trash"></i></a>
                                            
                                       
                                        </span>
                                    </td>
                                </tr>
                                </foreach>
                            </tbody>
                        </table>
                        
                        <div class="dataTables_paginate paging_full_numbers" id="DataTables_Table_1_paginate">{$page}</div>
                        
                    </div>
                    <!-- 成功提示信息 -->
                    <div class="mws-form-message success" style="display:none">
                                
                    </div>
                    <div class="mws-form-message error" style="display:none">
                                
                    </div>
                </div>
          
            
        </div>
        <!-- Main Container End -->
        
    </div>

    <!-- JavaScript Plugins -->
    <script src="__PUBLIC__/js/libs/jquery-1.8.3.min.js"></script>
    <script src="__PUBLIC__/js/libs/jquery.mousewheel.min.js"></script>
    <script src="__PUBLIC__/js/libs/jquery.placeholder.min.js"></script>
    <script src="__PUBLIC__/custom-plugins/fileinput.js"></script>
    
    <!-- jQuery-UI Dependent Scripts -->
    <script src="__PUBLIC__/jui/js/jquery-ui-1.9.2.min.js"></script>
    <script src="__PUBLIC__/jui/jquery-ui.custom.min.js"></script>
    <script src="__PUBLIC__/jui/js/jquery.ui.touch-punch.js"></script>

    <!-- Plugin Scripts -->
    <script src="__PUBLIC__/plugins/datatables/jquery.dataTables.min.js"></script>
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/js/libs/excanvas.min.js"></script>
    <![endif]-->
    <script src="__PUBLIC__/plugins/flot/jquery.flot.min.js"></script>
    <script src="__PUBLIC__/plugins/flot/plugins/jquery.flot.tooltip.min.js"></script>
    <script src="__PUBLIC__/plugins/flot/plugins/jquery.flot.pie.min.js"></script>
    <script src="__PUBLIC__/plugins/flot/plugins/jquery.flot.stack.min.js"></script>
    <script src="__PUBLIC__/plugins/flot/plugins/jquery.flot.resize.min.js"></script>
    <script src="__PUBLIC__/plugins/colorpicker/colorpicker-min.js"></script>
    <script src="__PUBLIC__/plugins/validate/jquery.validate-min.js"></script>
    <script src="__PUBLIC__/custom-plugins/wizard/wizard.min.js"></script>

    <!-- Core Script -->
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/core/mws.js"></script>

    <!-- Themer Script (Remove if not needed) -->
    <script src="__PUBLIC__/js/core/themer.js"></script>

    <!-- Demo Scripts (remove if not needed) -->
    <script src="__PUBLIC__/js/demo/demo.dashboard.js"></script>
</body>
</html>