<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="Keywords" content="">
<meta name="Description" content="">
<title></title>
<link rel="icon" href="/favicon.png">
<link href="__PUBLIC__/Home/Css/m_base.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/Home/Css/m_style.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/Home/Css/m_slider.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/Home/Css/m_flex.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/Home/Css/style.css" rel="stylesheet" type="text/css">

<script charset="utf-8" src="__PUBLIC__/Home/Js/v.js"></script>
<script src="__PUBLIC__/Home/Js/hm.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/Js/transport.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/Js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/Js/user.js"></script>
</head>
<body class="w1200">
<script type="text/javascript">
var isWidescreen=screen.width>=1280;
if (isWidescreen){document.getElementsByTagName("body")[0].className="w1200";}
</script>
<script type="text/javascript">
var process_request = "正在处理您的请求...";
</script>
<script type="text/javascript" src="__PUBLIC__/Home/Js/jquery-1.7.2.min.js"></script>
<!--[if IE 6]>
<div id="yellowtip" style="width: 100%; background-color: rgb(254, 246, 227); border-top-width: 1px; border-bottom-width: 1px; border-style: solid none; border-top-color: rgb(229, 205, 150); border-bottom-color: rgb(229, 205, 150); height: 33px; min-width: 920px; z-index: 99999; background-position: initial initial; background-repeat: initial initial;">
<div style="margin:0 auto;width:900px;line-height:33px;text-align:center;color:#82654D;">温馨提示：尊敬的用户，现在检测到您正在使用IE6浏览器。为了确保您的购物安全和更好的用户体验，请<a class="se6_download" style="color:#1C79A1" href="http://chrome.360.cn/" target="_blank">下载360极速浏览器</a>或者升级更高版本的IE浏览器</div>
<div id="yellowtipclose" style="display:none;"></div>
</div>
<![endif]-->
{:W('Skins/head')}
<div class="block clearfix"> 
<div class="">

 <div id="ur_here">
LOCATIONG : <a href="{:U('Index/index')}">首页</a> <code>&gt;</code> 用户中心 
</div>
</div>
<div class="blank5"></div>  
  <div class="AreaL">
    <div class="box">
     <div class="box_1">
      <div class="userCenterBox">
        <div class="userMenu">
            <a href="{:U('User/index')}" class="curs"><img src="__PUBLIC__/Home/Img/u1.gif"> 欢迎页</a>
            <a href="{:U('User/pwdMod')}"><img src="__PUBLIC__/Home/Img/u2.gif">密码修改</a>
            <a href="{:U('User/personalMod')}"><img src="__PUBLIC__/Home/Img/u2.gif">个人资料修改</a>
            <a href="{:U('Feekback/myfeekback')}"><img src="__PUBLIC__/Home/Img/u6.gif"> 我的反馈</a>
            <a href="{:U('MyOrder/myorder')}"><img src="__PUBLIC__/Home/Img/u3.gif"> 我的订单</a>
            <a href="{:U('MyCollect/mycollect')}"><img src="__PUBLIC__/Home/Img/u12.gif"> 我的收藏</a>
            <a href="{:U('Histroy/histroy')}"><img src="__PUBLIC__/Home/Img/u5.gif">浏览历史</a>
            <a href="{:U('Recharge/recharge')}"><img src="__PUBLIC__/Home/Img/u13.gif">充值历史</a>
            <a href="{:U('Address/index')}"><img src="__PUBLIC__/Home/Img/u9.gif">收货地址</a>
            <a href="{:U('logout/index')}" style="background:none; text-align:right; margin-right:10px;"><img src="__PUBLIC__/Home/Img/bnt_sign.gif"></a>
        </div>      
       </div>
     </div>
    </div>
  </div>
  <div class="AreaR">
    <div class="box">
     <div class="box_1">
      <div class="userCenterBox boxCenterList clearfix" style="_height:1%;">
                   <script type="text/javascript">
                      var old_password_empty = "请输入您的原密码！";
                      var new_password_empty = "请输入您的新密码！";
                      var confirm_password_empty = "请输入您的确认密码！";
                      var both_password_error = "您现两次输入的密码不一致！";
                      var msg_blank = "不能为空";
                      var msg_can_use = "- 可以使用";
                      var no_select_question = "- 您没有完成密码提示问题的操作";
                  </script>

         <h5><span>密码修改</span></h5><br/>
          <form name="formPassword" action="{:U('User/pwdUpdate')}" method="post" onsubmit="return editPassword()">
              <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
                  <tbody><tr>
                    <td width="38%" align="right" bgcolor="#FFFFFF">原密码：</td>
                    <td width="66%" align="left" bgcolor="#FFFFFF"><input name="password" type="password" size="25" class="inputBg"></td>
                  </tr>
                  <tr>
                    <td width="38%" align="right" bgcolor="#FFFFFF">新密码：</td>
                    <td align="left" bgcolor="#FFFFFF"><input name="new_password" type="password" size="25" class="inputBg"> <span>新密码长度为6-18个字节</span></td>
                  </tr>
                  <tr>
                    <td width="38%" align="right" bgcolor="#FFFFFF">确认密码：</td>
                    <td align="left" bgcolor="#FFFFFF"><input name="comfirm_password" type="password" size="25" class="inputBg"> <span>确认密码长度为6-18个字节</span></td>
                  </tr>
                  <tr>
                    <td colspan="2" align="center" bgcolor="#FFFFFF"><input name="act" type="hidden" value="act_edit_password">
                      <input name="submit" type="submit" class="bnt_blue_1" style="border:none;" value="确认修改">
                    </td>
                  </tr>
                </tbody>
            </table>
        </form>
      </div>
     </div>
    </div>
  </div>

<div class="blank"></div>
{:W('Skins/bottom')}
<script type="text/javascript">
var msg_title_empty = "留言标题为空";
var msg_content_empty = "留言内容为空";
var msg_title_limit = "留言标题不能超过200个字";
</script>
</body>
</html>