<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Menu</title>
        <script src="jquery.js"></script>
        <style>
            .title{
                width:240px;
                height:40px;
                background:#000;
                color:#fff;
                line-height:40px;
                margin-bottom:2px;

            }
            ul{
                width:200px;
                background:#ccc;
                display:none;
            }
        </style>
    </head>
    <body>
        <div class="title">
            aaaaaaaaaa
        </div>    
        <ul>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
        </ul>
        <div class="title">
            aaaaaaaaaa
        </div>    
        <ul>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
        </ul>
        <div class="title">
            aaaaaaaaaa
        </div>    
        <ul>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
        </ul>
        <div class="title">
            aaaaaaaaaa
        </div>    
        <ul>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
        </ul>
        <div class="title">
            aaaaaaaaaa
        </div>    
        <ul>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
        </ul>
        <div class="title">
            aaaaaaaaaa
        </div>    
        <ul>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
        </ul>
        <div class="title">
            aaaaaaaaaa
        </div>    
        <ul>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
            <li>aaaaaaaaaanamename</li>
        </ul>
    </body>
    <script type="text/javascript" charset="utf-8">
        $(".title").click(function(){
                    $(this).next().slideToggle(1000);
                });
    </script>
</html>
