<!DOCTYPE html>
<html>
    <head>
        <title>广告查看页面</title>
        <!-- Viewport Metatag -->
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<!-- Plugin Stylesheets first to ease overrides -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/colorpicker/colorpicker.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/custom-plugins/wizard/wizard.css" media="screen">

<!-- Required Stylesheets -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/fonts/ptsans/stylesheet.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/fonts/icomoon/style.css" media="screen">

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/mws-style.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/icons/icol16.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/icons/icol32.css" media="screen">

<!-- Demo Stylesheet -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/demo.css" media="screen">

<!-- jQuery-UI Stylesheet -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/jui/css/jquery.ui.all.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/jui/jquery-ui.custom.css" media="screen">

<!-- Theme Stylesheet -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/mws-theme.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/themer.css" media="screen">
    </head>
       <body>
  <!-- Main Container Start -->
        <div id="mws-container" class="clearfix">
        
            <div class="mws-panel grid_8">
                    <div class="mws-panel-header">
                        <span>查看广告管理</span>
                    </div>
                    <div class="mws-panel-body no-padding">
                        <form class="mws-form" action="__CONTROLLER__/insert" method="post" enctype="multipart/form-data">
                            <div class="mws-form-inline">
                                <div class="mws-form-row">

                                   <!--  <label class="mws-form-label">广告图片:</label>
                                   <div class="mws-form-item">
                                       <input type="file" class="small" name="pic">
                                   </div>
                                  </div> -->



                              <div class="mws-form-row">
                                 <label class="mws-form-label">图片:</label>
                                 <div class="mws-form-item">
                                     <div width='300px' height='300px'style='border:1px solid green' class="small">
                                     <img src="__PUBLIC__/{$advertising[0]['img']}"/>
                                     </div>
                                 </div>
                             </div> 
                      
                                 <div class="mws-form-row">
                                    <label class="mws-form-label">用途详情:</label>
                                    <div class="mws-form-item">
                            
                            <textarea class="small" name="content">{$advertising[0]['content']}</textarea>
                                    </div>
                                </div>
                            </div>
                           <!--  <div class="mws-button-row">
                               <input type="submit" value="提交" class="btn btn-danger">
                               <input type="reset" value="重置" class="btn ">
                           </div> -->
                        </form>
                    </div>      
                </div>
        
            <!-- Footer -->
          
            
        </div>

</body>
</html>